@model EventSourcingTodo.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-sm-8">
        <form asp-controller="Home" asp-action="AddTodo" method="post" role="form">
            <div class="form-group">
                <label asp-for="AddTodoPostModel.Description" class="sr-only"></label>
                <div class="input-group">
                    <input asp-for="AddTodoPostModel.Description" class="form-control" placeholder="What do you need to do?" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" aria-label="Add To-do">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <span asp-validation-for="AddTodoPostModel.Description"></span>
            </div>
        </form>
        <br />
        <div class="list-group">
            @foreach (var todo in Model.TodoList)
            {
                @if (todo.IsCompleted)
                {
                    <form asp-controller="Home" asp-action="UncompleteTodo" method="post">
                        <input name="TodoId" type="hidden" value="@todo.Id" />
                        <button type="submit" class="list-group-item list-group-item-success" aria-label="Mark to-do incomplete">
                            @todo.Description<br />
                            <small>Completed on @todo.CompletionTime.ToString("r")</small>
                        </button>
                    </form>
                }
                else
                {
                    <form asp-controller="Home" asp-action="CompleteTodo" method="post">
                        <input name="TodoId" type="hidden" value="@todo.Id" />
                        <button type="submit" class="list-group-item" aria-label="Mark to-do complete">@todo.Description</button>
                    </form>
                }
            }
        </div>
    </div>
    <div class="col-sm-4">
        <h3>Events</h3>
        @if (!Model.Events.Any())
        {
            <p><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Add some to-dos to see events</p>
        }
        <ul class="list-unstyled">
            @foreach (var e in Model.Events)
            {
                <li>
                    @e.GetType().Name
                    @{ 
                        var sb = new System.Text.StringBuilder(Newtonsoft.Json.JsonConvert.SerializeObject(e));
                        sb.Remove(sb.Length - 1, 1);
                        sb.Remove(0, 1);
                        sb.Replace("\":\"", "\": \"");
                        sb.Replace("\",\"", "\"\r\n\"");
                    }
                    <pre><small>@sb.ToString()</small></pre>
                </li>
            }
        </ul>
    </div>
</div>